<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fintech App{% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Global CSS -->
    <link rel="stylesheet" href="/static/css/base.css">
    {% block extra_css %}{% endblock %}
</head>

<body>

    {% block content %}{% endblock %}

    <!-- Global JS -->
    <script src="/static/js/api.js"></script>
    {% block extra_js %}{% endblock %}

</body>
</html>